<br>
<span id="status" class="alert">
</span>

<h4 class="darkred_color"> Add a New Meal Below</h4>	

<%= form_for(@meal, remote:true) do |f| %>


	<div class="row" id="meal-rows">
		<div class="span3">
			<%= f.text_field :foodname %>
		</div>	
	
		<div class="span3">
			<%= f.collection_select :category_id, Category.all, :id, :name  %>
		</div>

		<div class="span3">
        <%= f.text_field :mealdate %>
		</div>


	</div>
    	
	
<%= f.submit :class=> 'btn btn-success', :value=>'Record New Meal' %>





<% end %>
